/*
 *Ch01 - Grids
 *Ch02 - Map Division
 *Ch03 - Search Box
 *Ch04 - AttractionList
 *Ch05 - ScrollerBar
 *Ch06 - ImgViewer
*/
@fontface
html{
    font-family:'Roboto', Arial, sans-serif;
}
html,body{
    height:100%;
}
/* Ch01 Grid ######################################################################*/
.container{
  padding-left:0px;
  padding-right:0px;
  width:100%;
}
.grid_container{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}
.grid_column{
  position:absolute;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-wrap:wrap;
  width:408px;
  height:100%;
  z-index: 1;
}
.grid_column_item1{
  order:0;
  height:64px;
  width:100%;
  overflow:hidden;
}

.grid_column_item1.ng-hide{
    transform:translateX(-100%);
}
.grid_column_item1.ng-hide-add, .grid_column_item1.ng-hide-remove{
    transition:0.2s linear all;
}
.grid_column_item1_searched{
    background-color: #4285F4;
}

.grid_column_item2{
  order:1;
  height:calc(100% - 64px);
  width:100%;

}
.grid_column_item2_searched{
    background-color:#fafafa;
}

.section-refresh-overlay{
    pointer-events: none;
    opacity:0.35;
    background-color:#000;
    visibility:hidden;
    position:absolute;
    top:65px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:5;
}
.plan-overlay{
    position:fixed;
    opacity:0.35;
    background-color:#000;
    visibility:hidden;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:10;
}
flash{
    position:fixed;
    z-index:2000;
    top:20px;
    left:50%;
    transform:translateX(-50%);
}
#flash.ng-enter{
    transition:0.5s linear all;
    transform:translateY(-20px) translateY(-100%);
}
#flash.ng-enter.ng-enter-active{
    transform:translateY(0%);
}
/* Ch-02 Map Division##############################################################################################*/
#map{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 0;
}
/* Ch03 Search box##################################################################################################*/
#omnibox{
    position:absolute;
    top:0;
    left:0;
    margin:8px 0 8px 8px

}
.search{
    position:relative;
    background-color:#fff;
    border-radius:2px;
    width:392px;
    height:48px;
    border-bottom:1px solid transparent;
    padding:12px 54px 11px 56px;
}
.search-shadow{
    box-shadow:0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
}
#searchinput{
  width:282px;
  height:24px !important;
  border:none;
  line-height: 24px;
  font-size:15px;
  vertical-align:top;

}
#searchinput:focus{
    outline:none;
}
.searchmenu{
    width:56px;
    height:48px;
    position: absolute;
    top:0px;
    left:0px;
    padding:0px 0px;

}
#menubtn{
    height:100%;
    width:100%;
    z-index: 2;
    padding:0px 0px;
    margin:0px 0px;
    outline:none;
}
#menubtn span{
    z-index: 3;
}
.searchbtnbox{
    position:absolute;
    top:0px;
    right:0px;
    padding:12px 15px;
    border:0;
    background:transparent;
    outline: none;
}
.searchbtnbox::before{
    content:'';
    display:block;
    background:url("../img/search-button.png");
    background-size: 72px 24px;
    width:24px;
    height:24px;

}
.searchbtnbox.color1::before{
    background-position:-24px 0;
}
.searchbtnbox.changed::before{
    background:url("../img/spinner_color.gif");
}
.searchbtnbox.color0:hover::before{
    background-position:-24px 0;
}
.searchbtnbox.color0::before{
    background-position:0px 0;

}
.dropdown-menu{
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-menu li a{
    cursor:pointer;
}
.disabled{
    pointer-events: none;
    color:rgba(51, 51, 51, 0.5) !important;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0px
     5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
/* Ch04 AttractionList####################################################################################################################*/
main{
    position:absolute;
    top:64px;
    left:0px;
    right:0px;
    bottom:0px;
}
#attractionList{
    list-style-type: none;
    padding-left:0px;
    margin-bottom:0px;
    height:calc(100% - 43px);
    overflow-y:auto;

}
main.ng-hide{

    transform:translateX(-100%);
}
main.ng-hide-add, main.ng-hide-remove{
    transition:0.2s linear all;
}

.pane-section-pagination{
    border:1px solid #e6e6e6;
    position:absolute;
    bottom:0px;
    padding:11px 18px 13px;
    height:43px;
    width:408px;
    background-color: #fafafa;
}
new-plan{
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    z-index:14;
}
#dragbin{
    position:relative;
    top:64px;
    height:calc(100% - 64px);
    width:408px;
    background-color: #fafafa;
}
#dragbin #attractionList{
    position:fixed;
    list-style-type: none;
    top:64px;
    left:0px;
    padding-left:0px;
    width:408px;
    margin-bottom:0px;
    height:calc(100%);

}
attraction-section{
    display:block;
}
#attractionList li{
    background-color:#fafafa;
    padding:0px;
}

#plan-title{
    height:64px;
    padding:8px 8px 8px 8px;
    background-color: rgb(215, 116, 27);
}
#plan-title input{
    height:48px;
}
#plan-title span button{
    height:48px;
}
#dropbin{
    position:fixed;
    top:0;
    right:0;
    width:408px;
    height:calc(100% - 43px);
}
#dropbin ul{
    border:1px dashed grey;
    background-image:url("../img/background.jpg");
    list-style-type: none;
    padding-left:0px;
    overflow-y:auto;
    margin-bottom:0px;
    position:relative;

    height:calc(100% - 64px);
}
#dropbin svg{
    position:absolute;
    top:45%;
}

.attraction_section{
    min-height:112px;
    display:flex;
    border-bottom:solid 1px #e6e6e6;
    padding:10px 18px 10px 24px;
    cursor:pointer;
}
.attraction_section:hover{
    background-color:#eee;
}
.attraction_description{
    width:calc(100% - 80px);
}

.attraction_img{
    width:80px;
}
.attraction_img{
    cursor:zoom-in;
}

.result-title-container h3,.result-title-container h4{
    margin:0px 0px;
}
.result-title{
    font-size :15px;
    color: #000;
    line-height: 16px;
}
.result-adress{
    font-size: 12px;
    color:#8c8c8c;
    line-height:13px;
}
.result-rating{
    display:flex;
}

.rating{
    font-size:13px;
}
.stars{
    display:block;

    background-image:url('../img/star-rating-sprite.png');
    background-repeat:no-repeat;
    background-position: 0 0px;
    width:65px;
    height:13px;
    margin-left: 5px;
    margin-top:1px;
}
.stars .nonEmptyStars{

    display:inherit;
    background-image:inherit;
    background-repeat:inherit;

    height:inherit;
    background-position:0 -13px;

}

.pane-toggle-button-container{
    display:block !important;
    position:absolute;
    z-index:0;
    top:8px;
    left:100%;
}
.pane-toggle-button{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    width:23px;
    height:48px;
    cursor:pointer;
    background: rgba(255,255,255,0.9) url("../img/show.png") 7px center/7px 10px no-repeat
}
.pane-toggle-button + .tooltip.right > .tooltip-inner{
    white-space: nowrap;
}

.pane-section-pagination-right{
    float:right;
    color:#8c8c8c;
    font-size:12px;
    line-height:18px;
    text-align:left;
}
.pane-section-pagination-button{
    cursor:pointer;
    margin-left:14px;
    padding-left:4px;
    padding-right:4px;

    vertical-align: baseline;
    background: transparent;
    width:17px;
    height:18px;
    border:0px;
    outline:0px;
}
.pane-section-pagination-prev{
    background-image: url("../img/arrow.png");
    background-size:20px 16px;
    height:16px;
    margin-top:2px;
    vertical-align:top;
    width:9px;
    cursor:pointer;
    display:inline-block;
}
.pane-section-pagination-next{
    background-image: url("../img/arrow.png");
    background-size:20px 16px;
    background-position: -11px 0px;
    height:16px;
    margin-top:2px;
    vertical-align:top;
    width:9px;
    cursor:pointer;
    display:inline-block;
}
.pane-section-pagination-button-disabled{
    pointer-events:none;
    opacity:0.38;
}

/*CH05 ScrollBar################################################################################################*/
#attractionList::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
#attractionList::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;

}
#attractionList::-webkit-scrollbar-thumb
{

	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
    border-radius: 10px;
}
#detail::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
#detail::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;

}
#detail::-webkit-scrollbar-thumb
{

	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
    border-radius: 10px;
}

/*Ch06 imgViewer####################################################################################################*/
.modal-body{
    padding:0px;
}
.modal-body button{
    position:absolute;
    right:0px;
    opacity:1;
}
/*Ch07 attractionDetail##############################################################################################################################*/
.return-button{
    position:absolute;
    top:-8px;
    left:8px;
    font-size:13px;
    border-top:1px solid rgb(246, 246, 246);
    border-bottom:0px;
    border-left:0px;
    border-right:0px;
    background-color:#fff;
    width:392px;
    text-align:left;
    height:31px;
    padding:8px 20px;
    border-radius:0px 0px 2px 2px;
    color:#4285F4;
    cursor:default;
}
.return-button span{
    cursor:pointer;
}
div #detail{
    display:flex;
    flex-direction: column;

    overflow-x:hidden;
    overflow-y:auto;
    height:100%;
}
.header_img{
    width:408px;
    max-height:272px;
}
#detail .title-container{
    background-color: rgb(28, 255, 0);
    color:#FFFFFF;
    padding-left:20px;
    display:flex;
    flex-direction: column;
    padding-top:0px;

    flex-shrink: 0;
}

.title-container h3{
    margin-top:10px;
    margin-bottom:10px;
}
.detail-result-rating{
    display:flex;
}
.detail-types{
    border-top:10px solid transparent;
    margin-bottom:10px;
}
.detail-type{
    text-transform: capitalize;

}
.detail-rating{
    font-size:13px;
}
.detail-stars{
    display:block;

    background-image:url('../img/star-rating-sprite.png');
    background-repeat:no-repeat;
    background-position: 0 0px;
    width:65px;
    height:13px;
    margin-left: 5px;
    margin-top:1px;
}
.detail-stars .detail-nonEmptyStars{

    display:inherit;
    background-image:inherit;
    background-repeat:inherit;

    height:inherit;
    background-position:0 -13px;

}
#imgSlider{
    height:272px;

}
#carousel-img{
    width:408px;
    height:272px;
    margin:0px;


}
#img-slider-header{
    margin-bottom: 0px;
    border:0px solid transparent;
}
.panel-info>.panel-heading{
    background-color: rgb(255, 0, 0);
    border:0px;
    color:#FFF;
}
