.container{
  padding-left:0px;
  padding-right:0px;
  width:100%;
}
.grid_column{
  position:absolute;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-wrap:wrap;
  width:408px;

  z-index: 1;
}

.grid_container{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}
.grid_item1{
  order:0;
  height:10%;
  width:100%;
}
.grid_item1{
  order:1;
  height:90%;
  width:100%;
}
#map{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 0;
}

#omnibox{
    position:absolute:
    top:0;
    left:0;
    margin:8px 0 8px 8px
}
.search{
    position:relative;
    background-color:#fff;
    border-radius:2px;
    width:392px;
    height:48px;
    border-bottom:1px solid transparent;
    padding:12px 54px 11px 56px;
}
#searchinput{
  width:282px;
  height:24px !important;
  border:none;
  line-height: 24px;
  font-size:15px;
  vertical-align:top;

}
#searchinput:focus{
    outline:none;
}
.searchmenu{
    width:56px;
    height:48px;
    position: absolute;
    top:0px;
    left:0px;
}
.searchbtnbox{
    position:absolute;
    top:0px;
    right:0px;
    padding:12px 15px;
    border:0;
    background:transparent;
}
.searchbtnbox::before{
    content:'';
    display:block;
    background:url(//maps.gstatic.com/tactile/omnibox/quantum_search_button-20150825-1x.png);
    background-size: 72px 24px;
    width:24px;
    height:24px;
    background-position:-24px 0;
}
.searchbtnbox.color1{

}
.searchbtnbox.color0{
    background-position:0px 0;
}

/*.searchbox{
    background:url("http://maps.gstatic.com/tactile/omnibox/quantum_search_button-20150825-1x.png") no-repeat scroll 7px 7px;
    padding-left:30px;
}*/
