<div class = "attraction_section">
    <div class = "attraction_description" ng-click="click({pageIndex:pageIndex,index:index})">
        <div class = 'result-title-container'>
            <h3><span class ="result-title">{{name}}</span></h3>
            <span class = "result-rating">
                <span class = "rating">{{rating|number:1}}</span>
                <span class = "stars">
                    <span class = "nonEmptyStars"></span>
                </span>
            </span>

            <h4><span class = "result-adress">{{address}}</span></h4>

        </div>

    </div>
    <div id = "attraction_img">
        <img class = "attraction_img" ng-click = "show()"/>
    </div>

</div>
