<div class = "attraction_section">
    <div class = "attraction_description">
        <div class = 'result-title-container'>
            <h3><span class ="result-title">{{name}}</span></h3>
            <span class = "result-rating">
                <span class = "rating">{{rating|number:1}}</span>
                <span class = "stars">
                    <span class = "nonEmptyStars"></span>
                </span>
            </span>
        </div>

    </div>
    <div id = "attraction_img">
        <img class = "attraction_img" ng-click = "show()"/>
    </div>
</div>
