<div id = "omnibox">
    <div class = "searchmenu">
        <button type="button" class="btn btn-default" aria-label="Left Align" id = "menubtn">
                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        </button>
    </div>
    <div class = "search search-shadow">
        <input type = "text" id = "searchinput" ng-model = "obCtrl.input"  ng-keypress="obCtrl.input !== ''&&$event.keyCode==13 &&obCtrl.SearchAttraction(obCtrl.input)"/>
        <button class = "searchbtnbox color0" ng-click = "obCtrl.SearchAttraction(obCtrl.input)"></button>
    </div>
</div>
